<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/layout}">
<head>
<title>상품 수정</title>
</head>
<body>
<main layout:fragment="content">
<form method="post" action="/product_edit">
  <div class="form-group">
 
    <label for="exampleFormControlInput1">품번 </label>
     
    <input type="text" class="form-control" name="ItemNumber" th:value="${Product_list.ItemNumber}" > 
  

    <label for="exampleFormControlInput1">상품이름</label>
    <input type="text" class="form-control" name="productname"th:value="${Product_list.productname}" >
  
  
    <label for="exampleFormControlInput1">상품가격</label>
    <input type="text" class="form-control" name="productprice" th:value="${Product_list.productprice}">
  
   
    <label for="exampleFormControlInput1">상품사진</label>
    <input type="text" class="form-control"name="producPicture" th:value="${Product_list.producPicture}">
  </div> 
  <div>
  <input type="hidden" th:value="${Product_list.id}" name="id">
  </div>
  <div>
  	
  </div>
  <div>
 
  <button type="submit" class="btn btn-outline-primary ">수정하기</button>
  </div> 
</form>
</main>
</body>
</html>